body{
  display: flex;
  place-items: center;
  justify-content: center;
}

.container{
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: lightpink;
  width: 40vh;
  height: 35vh;
  border-radius: 10px;
}

.go-btn{
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 10px
}


mat-icon{
  margin-right: 20px;
}
