<body>
  <div class="container">
    <div class="chat-list">
      <div class="search-bar">
        <mat-form-field>
          <input matInput placeholder="Search for users..." [formControl]="searchControl">
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div>
        <mat-selection-list>
          <mat-list-option class="chat">
            <img class="avatar" src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" alt="userAvatar">
            <h3>UserName 1</h3>
            <p>lorem ipsum dolor</p>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
    <div class="messages">
      <mat-divider></mat-divider>
    </div>
  </div>
</body>