<body>
  <div class=" m-3 row">
    <div class="col-sm-12 col-lg-3 text-center list-side">
      <div class="row">
        <app-profile-banner></app-profile-banner>
      </div>
      <div class="row">
        <app-chat-list></app-chat-list>
      </div>
    </div>
    <div class="col-sm-12 col-lg-9 text-center chat-side">
      <div class="row">
        <app-chat-banner></app-chat-banner>
      </div>
      <div class="row">
        <app-chat-main></app-chat-main>
      </div>
      <div class="row">
        <app-writer></app-writer>
      </div>
    </div>
  </div>
</body>