<body>
  <div class="chat-list">
    <mat-selection-list hideSingleSelectionIndicator [multiple]="false"
                        *ngIf="allRooms$ | async as rooms"
                        id="First Conversation"
    >
      <mat-list-option *ngFor="let room of rooms" id="{{room.name}}">
        <mat-divider></mat-divider>
        <app-room
          [username]="room.name"
          [lastMessage]="room.messages[room.messages.length - 1].message">
        </app-room>
      </mat-list-option>
    </mat-selection-list>
  </div>
</body>
